.absolute {
  position: absolute;
}

.border-10, .content-slide, .product, #mainBody #sideBar {
  border-radius: 10px;
}

.center, #myCarousel li h5, .last-shop ul li .caption, .last-shop ul li h5, .last-shop ul li p {
  text-align: center;
}

.text-white, .barra-top, .pull-right, #sectionFooter h3, #sectionFooter ul li a {
  color: white !important;
}

.text-black {
  color: black;
}

.none-decoration, #mainBody #sideBar ul li a, #sectionFooter ul li a {
  text-decoration: none;
}

.none-list, .list-products, #mainBody #sideBar ul, .last-shop ul, #sectionFooter ul {
  list-style-type: none;
}

.relative {
  position: relative;
}

.right {
  float: right;
}

.caption {
  padding: 9px;
  color: #242424;
  background-color: inherit;
}

.content-slide {
  padding: 9px;
  background-color: #F8F8F8;
  border: 1px solid #EDEAEA;
  margin-bottom: 30px;
}

.ih-item.square {
  width: auto !important;
  height: auto !important;
  border: none !important;
  box-shadow: none !important;
}

.ih-item.square.effect13 .info {
  border-radius: 10px !important;
}

.list-products {
  margin: 0;
  margin-left: -7%;
}

.product {
  padding: 4px;
  background-color: white;
  border: 1px solid #EDEAEA;
}

.subtitle {
  font-size: 17.5px;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
}

/***********************************************************************************/
/*                              Estilos del Header  							   */
/***********************************************************************************/
#sectionNav {
  background-color: #2f2f2f;
}

.barra-top {
  padding-top: 15px;
  font-size: 18px;
}

.button-login {
  padding: 14px;
}

.font-brand {
  font-size: 35px;
}

.font-navbar {
  font-size: 20px;
}

.navbar-color {
  background-color: #242424 !important;
  padding: 12px 0;
  margin-top: 15px;
}

.pull-right {
  float: right;
}

.search {
  display: none !important;
}

/***********************************************************************************/
/*                              Estilos del Slider     							   */
/***********************************************************************************/
.without-margin {
  margin-right: 0 !important;
}

.without-padding {
  padding-right: 0 !important;
}

/***********************************************************************************/
/*                              Estilos del Home     							   */
/***********************************************************************************/
#mainBody {
  padding-top: 30px;
  padding-bottom: 15px;
}

#mainBody #sideBar {
  border: 1px solid #242424;
  background-color: #F8F8F8;
}

#mainBody #sideBar h3 {
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 9px;
  border-bottom: 1px solid #242424;
  padding-bottom: 5px;
}

#mainBody #sideBar ul {
  padding-left: 0;
}

#mainBody #sideBar ul li {
  padding-bottom: 5px;
  font-size: 1.2em;
}

#mainBody #sideBar ul li a {
  color: inherit;
}

#myCarousel {
  margin: 0 3.2%;
}

#myCarousel li {
  padding-right: 0 !important;
}

#myCarousel li img {
  width: 100%;
  height: auto;
}

#products {
  padding-left: 3% !important;
}

.last-shop ul {
  padding-left: 0 !important;
}

.last-shop ul li {
  padding-bottom: 30px;
}

.last-shop ul li img {
  width: 100%;
  height: auto;
}

/***********************************************************************************/
/*                              Estilos del Footer     							   */
/***********************************************************************************/
#sectionFooter {
  background-color: #242424;
  padding-top: 20px;
}

#sectionFooter ul {
  padding-left: 0;
}

#sectionFooter ul li a:focus {
  outline: none;
}

/***********************************************************************************/
/*                              Media Querys        							   */
/***********************************************************************************/
@media screen and (max-width: 768px) {
  .position-button {
    margin: 0 auto !important;
    display: table !important;
    margin-top: inherit !important;
  }
}

/*# sourceMappingURL=app.css.map */
