.absolute{
	position: absolute;
}

.border-10{
	border-radius: 10px;
}

.center{
	text-align: center;
}

.text-white{
	color: white !important;
}

.text-black{
	color: black;
}

.none-decoration{
	text-decoration: none;
}

.none-list{
	list-style-type: none;
}

.relative{
	position: relative;
}

.right{
	float: right;
}
